<h1><%= @post.title %></h1>

<div><%= @post.content %></div>

<ul>
<% @post.categories.each do |category| %>
<li><%= category.name %></li>
<% end %>
</ul>

 <ul>
<% @post.comments.each do |comment| %>
<li><%= comment.user.username %> says: <%= comment.content %></li>
<% end %>
</ul> 

<%= form_for @post.comments.build do |f| %>
<%= f.hidden_field :post_id, value: @post.id %> 
<%= f.label "Choose User" %>
<%= f.collection_select :user_id, User.all, :id, :username, { include_blank: 'blank field' }%>

<%= f.fields_for :user, User.new do |post_user|%>
<div><%= post_user.label "Create User" %>
<%= post_user.text_field :username %></div>
<% end %>

<%= f.label "Comment" %>
<%= f.text_area :content %>
<%= f.submit "Create Comment" %>
<% end %>

